{% extends 'base.html' %}

{% block credential %}
<h3 class="mt-5">OneTrust Credential</h3>
<small id="passwordHelpBlock" class="form-text text-muted">
  <p>Step1 : Add Oauth2.0 Credential</p>
</small>
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">SiteURL</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="https://app-apac.onetrust.com">
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">ClientID</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="ClientID">
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">ClientSecret</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="ClientSecret">
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
</form>
{% endblock %}

{% block csv %}
<h3 class="mt-5">Consent CSV Data</h3>
<small id="passwordHelpBlock" class="form-text text-muted">
  <p>Step2 : Paste CSV data to textarea below</p>
</small>
<form>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
{% endblock %}